:root{
    --primario: #5227cc;
    --primario_claro:#7749f8;
    --secundario:#1c78fd;
    --secundario_claro:#5298ff;
    --voluntariado:#dc3545;
    --donar:#FF9C07;
    --reciclar:#28a745;
    --llamados:#17a2b8; 

}

html {
  font-size: 62.5%;
  box-sizing: border-box; /* PARA QUE CUANDO A UN ELEMENTO TENGA QUE TENER CIERTA MEDIDA EL PADDING NO LE AFECTE*/
}
body {
  font-family: "DM Sans", "Montserrat" sans-serif;
  font-size: 16px; /* CAMBIANDO EL FONT SIZE DEL HTML Y EL BODY DE ESTA MANERA, GENERAMOS QUE 1REM = 10PX */
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  height: 6rem;
}
.nav a {
  text-decoration: none;
}
.navBar {
  display: flex;
  gap: 6rem;
  list-style: none;
}
.list a {
  color: #000000;
}
.logo {
  width: 18rem;
  height: 4rem;
}
.contenedorNavBar {
  display: flex;
  gap: 10rem;
  align-items: center;
}
.ancla {
  background-color: var(--secundario);
  padding: 0.7rem;
  border-radius: 2rem;
}
.ancla a {
  color: #ffffff;
}
.botonNav {
  color: #000000;
  background: none;
  border: none;
  font-size: 3rem;
  padding: 0 20px;
  line-height: 60px;
  display: none;
}
.backImg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/manos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  
}


    .titulo{
        font-family: 'DM Sans';
        font-weight: 400;
        letter-spacing: -1px;
        font-size: 5.5rem;

    }
    .tituloText{
        font-family: 'DM Sans';
        width: 80rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 2rem;
        margin: 0;
        color: rgba(256, 256, 256, 0.7);     
    }
/*--cards y footer --*/
.news_1 {
    padding: 5%;
    color: #fff;
    background-color: var(--secundario_claro);
}

.cards {
    padding: 5%;
}

.detail {
    display: flex;
    justify-content: center;
    text-align: center;
}

.ing_news {
    width: 60%;
}

.img_1 {
    width: 70px;
    height: 70px;
    padding-left: 20px;
}

.img_mas {
    width: 12%;
}

.text_1 {
    padding-top: 20px;
    font-size: 2rem;

    color: #fff;
}

.hand {
    background-color: var(--voluntariado);
    width: 200px;
    height: 200px;
    border-radius: 7%;
}

.hand2 {
    background-color: var(--donar);
    width: 200px;
    height: 200px;
    border-radius: 7%;
}

.recicly {
    background-color: var(--reciclar);
    width: 200px;
    height: 200px;
    border-radius: 7%;
}

.call {
    background-color: var(--llamados);
    width: 200px;
    height: 200px;
    border-radius: 7%;
}

.card-text {
    color: #fff;
    font-size: 2.5rem;
    margin: 20px;

}

.containerFooter {
    background-color: var(--primario_claro);
    color: #fff;
    padding: 5%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.img2 {
    width: 40%;
    height: 40%;
}




    @media (max-width: 600px) {
  
      .navBar {
        flex-direction: column;
        margin-right: 20px;
        background-color: var(--llamados);
        position:absolute;
        left: 0;
        top:6rem;
        width: 100%;
        height: 100% ;
        z-index: 3;
        padding: 20px 0;
        align-items: center;

    
        left: 100%;
        transition: left 0.4s;
      }
      .botonNav{
        display: block;
    
      }
      .navBar_visible{
        left:0;
      }
      
      .logo {
        width: 10rem;
        height: 2rem;
      }
      .contenedorNavBar {
        display: flex;
        gap: 4rem;
      }
      .ancla {
        background-color: var(--secundario);
        padding: 0.7rem;
        border-radius: 2rem;
      }
      .titulo {
        letter-spacing: -1px;
        font-size: 3rem;
        text-align: center;
      }
      .tituloText {
        width: 40rem;
        font-size: 1rem;
      }
      
    }
     

      .news_1{
          color: #fff;
          background-color: var(--secundario_claro);
      }
      .detail{
          display: flex;
          justify-content: center;
          text-align: center;
      }
      
      .ing_news {
          width: 60%;
      }




